@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form method="post" >

<label>Token</label>
<input type="text" name="token" />
<label>Secret</label>
<input type="text" name="secret" />

<button type="submit">Test</button>
</form>

